<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre del producto</span>
        <div class="col-3">
        <input type="text" class="form-control" placeholder="Ejemplo: Portatil Gaming" aria-label="Nombre del producto" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text">Precio</span>
        <input type="text" class="form-control" aria-label="Precio">
        <span class="input-group-text">€</span>
      </div>
    
    <div class="input-group">
      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
    </div>
    
    <button type="submit" class="btn btn-primary">Añadir</button>
    </div>





