<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Nombre del producto</span>
    <input type="text" class="form-control" placeholder="Ejemplo: Portatil Gaming" aria-label="Nombre del producto" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">Precio</span>
    <input type="text" class="form-control" aria-label="Precio">
    <span class="input-group-text">€</span>
  </div>
<button type="submit" class="btn btn-primary">Añadir</button>