<div class="card" style="width: 18rem;">
    <img src="/assets/03b.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Teclado nsq</h5>
      <p class="card-text"> Descripción:</p> <p> Teclado última gama etc etc</p>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-success mx-1" >Subir</button>
        <button type="button" class="btn btn-danger mx-1">Borrar</button>
        <button type="button" class="btn btn-warning mx-1">Editar</button>
    </div>
  </div>